In [1]:
import pandas as pd

In [5]:
df = pd.read_excel(
    "C:\Yaraman(Data-Analyst)\Coffee Consumption\Mulla House ( AUG - DEC 18 ) PetPooja.xlsx",sheet_name='MULLA HOUSE'
)

<>:2: SyntaxWarning: "\Y" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Y"? A raw string is also an option.
<>:2: SyntaxWarning: "\Y" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Y"? A raw string is also an option.
C:\Users\ASUS\AppData\Local\Temp\ipykernel_21716\3335713499.py:2: SyntaxWarning: "\Y" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Y"? A raw string is also an option.
  "C:\Yaraman(Data-Analyst)\Coffee Consumption\Mulla House ( AUG - DEC 18 ) PetPooja.xlsx",sheet_name='MULLA HOUSE'

In [9]:
df.count()

Date                     75663
Timestamp                75663
Invoice No.              75663
Payment Type             75663
Order Type               75663
Area                     65386
Item Name                75663
Price                    75663
Qty.                     75663
Sub Total                75663
Discount                 75663
Tax                      75663
Final Total              75663
Status                   75663
Table No.                60398
Server Name              75663
Covers                   75663
Variation                26277
Category                 75663
Group Name               75663
HSN                          0
Phone                      483
Name                      5473
Address                   1966
GST                        105
Assign To                49750
Non Taxable              75663
CGST Rate                75663
CGST Amount              75663
SGST Rate                75663
SGST Amount              75663
Service Charge Rate      75663
Service Charge Amount    75663
CGST@2.5 Rate            75663
CGST@2.5 Amount          75663
SGST@2.5 Rate            75663
SGST@2.5 Amount          75663
dtype: int64

In [10]:
df.columns = df.columns.str.lower().str.strip()

In [11]:
cup_categories = [
    "coffee",
    "cold coffee",
    "iced coffee",
    "chocolate",
    "hot brews [o]",
    "tea",
    "manual brews",
    "tasteful infusions (non coffee) [o]",
    "juices",
    "iced coffees [o]",
    "manual brews [o]",
    "monsoon special beverages [o]",
    "beverages [o]",
    "little ones [o]"
]

In [12]:
df["category_clean"] = df["category"].str.lower().str.strip()

In [13]:
cups_df = df[df["category_clean"].isin(cup_categories)].copy()

In [15]:
cups_df.columns

Index(['date', 'timestamp', 'invoice no.', 'payment type', 'order type',
       'area', 'item name', 'price', 'qty.', 'sub total', 'discount', 'tax',
       'final total', 'status', 'table no.', 'server name', 'covers',
       'variation', 'category', 'group name', 'hsn', 'phone', 'name',
       'address', 'gst', 'assign to', 'non taxable', 'cgst rate',
       'cgst amount', 'sgst rate', 'sgst amount', 'service charge rate',
       'service charge amount', 'cgst@2.5 rate', 'cgst@2.5 amount',
       'sgst@2.5 rate', 'sgst@2.5 amount', 'category_clean'],
      dtype='object')

In [16]:
cups_category_summary = (
    cups_df
    .groupby("category", as_index=False)["qty."]
    .sum()
    .rename(columns={"qty.": "cups_used"})
)

In [17]:
cups_item_summary = (
    cups_df
    .groupby(["category", "item name"], as_index=False)["qty."]
    .sum()
    .rename(columns={"qty.": "cups_used"})
)

In [18]:
coffee_items = cups_df[
    cups_df["category_clean"].isin([
    "coffee",
    "cold coffee",
    "iced coffee",
    "chocolate",
    "hot brews [o]",
    "tea",
    "manual brews",
    "juices",
    "iced coffees [o]",
    "manual brews [o]",
    "monsoon special beverages [o]",
    "beverages [o]",
    "little ones [o]"
    ])
].copy()

In [20]:
coffee_items["coffee_grams"] = coffee_items["qty."] * 17
coffee_items["coffee_kg"] = coffee_items["coffee_grams"] / 1000

In [22]:
coffee_summary = (
    coffee_items
    .groupby("item name", as_index=False)
    .agg(
        cups_sold=("qty.", "sum"),
        coffee_grams=("coffee_grams", "sum"),
        coffee_kg=("coffee_kg", "sum")
    )
)

In [28]:
print("\nâ˜• CUPS CONSUMPTION â€” CATEGORY WISE")
print(cups_category_summary)

â˜• CUPS CONSUMPTION â€” CATEGORY WISE
                               category  cups_used
0                         Beverages [O]          6
1                             CHOCOLATE       1610
2                                COFFEE      17938
3                           COLD COFFEE       7632
4                         Hot Brews [O]       1713
5                           ICED COFFEE      10011
6                      Iced Coffees [O]        962
7                                JUICES       1102
8                       Little Ones [O]          6
9                          MANUAL BREWS       4728
10                     Manual Brews [O]         83
11        Monsoon Special Beverages [O]         76
12                                  TEA       1662
13  Tasteful Infusions (Non Coffee) [O]        169

In [29]:
print("\nðŸ¥¤ CUPS CONSUMPTION â€” ITEM WISE")
print(cups_item_summary)

ðŸ¥¤ CUPS CONSUMPTION â€” ITEM WISE
                                category                      item name  \
0                          Beverages [O]        Perrier Sparkling Water
1                          Beverages [O]    Perrier Sparkling Water [o]
2                              CHOCOLATE                      Babychino
3                              CHOCOLATE                  Hot Chocolate
4                              CHOCOLATE           Spiced Hot Chocolate
..                                   ...                            ...
163  Tasteful Infusions (Non Coffee) [O]             Jasmine Pearls Tea
164  Tasteful Infusions (Non Coffee) [O]             Kashmiri Kahwa Tea
165  Tasteful Infusions (Non Coffee) [O]                   Matcha Latte
166  Tasteful Infusions (Non Coffee) [O]             Mint Chamomile Tea
167  Tasteful Infusions (Non Coffee) [O]  White Ginger Peach Oolong Tea

     cups_used
0            5
1            1
2          167
3         1109
4          334
..         ...
163          3
164         10
165         91
166          4
167          6

[168 rows x 3 columns]

In [27]:
print("\nâ˜• COFFEE CONSUMPTION (17g per cup)")
print(coffee_summary)

â˜• COFFEE CONSUMPTION (17g per cup)
                            item name  cups_sold  coffee_grams  coffee_kg
0                            Aerocano         24           408      0.408
1              Almond Croissant Latte        301          5117      5.117
2    Americano (Espresso Medium Dark)         73          1241      1.241
3         Americano (Espresso Medium)         11           187      0.187
4                     Americano (Hot)        200          3400      3.400
..                                ...        ...           ...        ...
151                 Tropical Smoothie        279          4743      4.743
152                        Vietnamese        449          7633      7.633
153     White Ginger Peach Oolong Tea        248          4216      4.216
154              Yahviâ€™s Winter Latte          3            51      0.051
155              Yuzu Cold Brew Tonic         38           646      0.646

[156 rows x 4 columns]