In [1]:
import pandas as pd
import numpy as np

In [5]:

syrup_recipe = pd.DataFrame([
    # Lemon Cheesecake Fizz
    {"item_name": "Lemon Cheesecake Fizz", "syrup_name": "Cheese Cake Syrup", "ml_per_cup": 22.5},
    {"item_name": "Lemon Cheesecake Fizz", "syrup_name": "Vanilla Syrup", "ml_per_cup": 5},

    # Madhurai Mule
    {"item_name": "Madhurai Mule", "syrup_name": "Ginger Syrup", "ml_per_cup": 15},

    # Butterpop
    {"item_name": "Butterpop", "syrup_name": "Brown Butter", "ml_per_cup": 10},
    {"item_name": "Butterpop", "syrup_name": "Caramel", "ml_per_cup": 15},
    {"item_name": "Butterpop", "syrup_name": "Vanilla", "ml_per_cup": 12},

    # Pina Colada Cold Brew Tonic
    {"item_name": "Pina Colada Cold Brew Tonic", "syrup_name": "Pina Colada Syrup", "ml_per_cup": 25},

    # Peaches and Cream Latte (Iced)
    {"item_name": "Peaches and Cream Latte (Iced)", "syrup_name": "Peach Syrup", "ml_per_cup": 22.5},

    # Almond Croissant Latte
    {"item_name": "Almond Croissant Latte", "syrup_name": "Amaretto Syrup", "ml_per_cup": 20},
    {"item_name": "Almond Croissant Latte", "syrup_name": "Brown Bread Syrup", "ml_per_cup": 5},
    {"item_name": "Almond Croissant Latte", "syrup_name": "Vanilla Syrup", "ml_per_cup": 5},
])

In [6]:
syrup_recipe.head()

               item_name         syrup_name  ml_per_cup
0  Lemon Cheesecake Fizz  Cheese Cake Syrup        22.5
1  Lemon Cheesecake Fizz      Vanilla Syrup         5.0
2          Madhurai Mule       Ginger Syrup        15.0
3              Butterpop       Brown Butter        10.0
4              Butterpop            Caramel        15.0

In [8]:
consumption = pd.read_excel(
    "C:\Yaraman(Data-Analyst)\Coffee Consumption\Mulla House ( AUG - DEC 18 ) PetPooja.xlsx",sheet_name='MULLA HOUSE'
)

<>:2: SyntaxWarning: "\Y" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Y"? A raw string is also an option.
<>:2: SyntaxWarning: "\Y" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Y"? A raw string is also an option.
C:\Users\ASUS\AppData\Local\Temp\ipykernel_27028\1981969948.py:2: SyntaxWarning: "\Y" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Y"? A raw string is also an option.
  "C:\Yaraman(Data-Analyst)\Coffee Consumption\Mulla House ( AUG - DEC 18 ) PetPooja.xlsx",sheet_name='MULLA HOUSE'

In [10]:
consumption.head()

,date,timestamp,invoice no.,payment type,order type,area,item name,price,qty.,sub total,...,cgst rate,cgst amount,sgst rate,sgst amount,service charge rate,service charge amount,cgst@2.5 rate,cgst@2.5 amount,sgst@2.5 rate,sgst@2.5 amount
0,2025-08-31,2025-08-31 21:42:21,61963,Cash,Pick Up,NaN,Salted Caramel Latte,360.0,1,360.0,...,2.5,9.00,2.5,9.00,10,0.0,2.5,0.0,2.5,0.0
1,2025-08-31,2025-08-31 21:42:21,61963,Cash,Pick Up,NaN,Iced Brown Butter Cookie Mocha (Royale Meduim),400.0,1,400.0,...,2.5,10.00,2.5,10.00,10,0.0,2.5,0.0,2.5,0.0
2,2025-08-31,2025-08-31 21:25:02,61962,CARD,Dine In,Dine in,Bebe Frank,250.0,1,250.0,...,2.5,6.25,2.5,6.25,10,25.0,2.5,0.0,2.5,0.0
3,2025-08-31,2025-08-31 21:25:02,61962,CARD,Dine In,Dine in,Bhutta Ribs,425.0,1,425.0,...,2.5,10.63,2.5,10.63,10,42.5,2.5,0.0,2.5,0.0
4,2025-08-31,2025-08-31 21:25:02,61962,CARD,Dine In,Dine in,Cold Kaapi,330.0,1,330.0,...,2.5,8.25,2.5,8.25,10,33.0,2.5,0.0,2.5,0.0

In [9]:
consumption.columns = consumption.columns.str.lower().str.strip()
syrup_recipe.columns = syrup_recipe.columns.str.lower().str.strip()

In [13]:
consumption["item_name_clean"] = consumption["item name"].str.lower().str.strip()
consumption["order_type_clean"] = consumption["order type"].str.lower().str.strip()
syrup_recipe["item_name_clean"] = syrup_recipe["item_name"].str.lower().str.strip()

In [14]:
df = consumption.merge(
    syrup_recipe,
    on="item_name_clean",
    how="inner"
)

In [16]:
df.columns

Index(['date', 'timestamp', 'invoice no.', 'payment type', 'order type',
       'area', 'item name', 'price', 'qty.', 'sub total', 'discount', 'tax',
       'final total', 'status', 'table no.', 'server name', 'covers',
       'variation', 'category', 'group name', 'hsn', 'phone', 'name',
       'address', 'gst', 'assign to', 'non taxable', 'cgst rate',
       'cgst amount', 'sgst rate', 'sgst amount', 'service charge rate',
       'service charge amount', 'cgst@2.5 rate', 'cgst@2.5 amount',
       'sgst@2.5 rate', 'sgst@2.5 amount', 'item_name_clean',
       'order_type_clean', 'item_name', 'syrup_name', 'ml_per_cup'],
      dtype='object')

In [17]:
df["syrup_ml_deducted"] = df["qty."] * df["ml_per_cup"]

In [18]:
syrup_deduction = (
    df
    .groupby("syrup_name", as_index=False)["syrup_ml_deducted"]
    .sum()
)

In [19]:
syrup_deduction["syrup_liters_deducted"] = syrup_deduction["syrup_ml_deducted"] / 1000

In [21]:
item_syrup_audit = (
    df
    .groupby(["item_name", "syrup_name"], as_index=False)
    .agg(
        cups_sold=("qty.", "sum"),
        syrup_ml_deducted=("syrup_ml_deducted", "sum")
    )
)

In [22]:
print("\n🍯 SYRUP DEDUCTION — SYRUP WISE")
print(syrup_deduction)

🍯 SYRUP DEDUCTION — SYRUP WISE
          syrup_name  syrup_ml_deducted  syrup_liters_deducted
0     Amaretto Syrup             6020.0                 6.0200
1  Brown Bread Syrup             1505.0                 1.5050
2       Brown Butter               30.0                 0.0300
3            Caramel               45.0                 0.0450
4  Cheese Cake Syrup             8572.5                 8.5725
5       Ginger Syrup             4515.0                 4.5150
6  Pina Colada Syrup              125.0                 0.1250
7            Vanilla               36.0                 0.0360
8      Vanilla Syrup             3410.0                 3.4100

In [23]:
print("\n📊 ITEM × SYRUP DEDUCTION (AUDIT)")
print(item_syrup_audit)

📊 ITEM × SYRUP DEDUCTION (AUDIT)
                     item_name         syrup_name  cups_sold  \
0       Almond Croissant Latte     Amaretto Syrup        301
1       Almond Croissant Latte  Brown Bread Syrup        301
2       Almond Croissant Latte      Vanilla Syrup        301
3                    Butterpop       Brown Butter          3
4                    Butterpop            Caramel          3
5                    Butterpop            Vanilla          3
6        Lemon Cheesecake Fizz  Cheese Cake Syrup        381
7        Lemon Cheesecake Fizz      Vanilla Syrup        381
8                Madhurai Mule       Ginger Syrup        301
9  Pina Colada Cold Brew Tonic  Pina Colada Syrup          5

   syrup_ml_deducted
0             6020.0
1             1505.0
2             1505.0
3               30.0
4               45.0
5               36.0
6             8572.5
7             1905.0
8             4515.0
9              125.0

In [ ]:
# --- LOGIC PORTED FROM APP.PY ---

def load_data():
    try:
        # Stock Take Sheet
        sheet_id = "1mKcRWrkCMHXOpofdjU1MrwRmhUGaaET8RUOG6eyHAqA"
        url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=xlsx"
        stock = pd.read_excel(url)
        return stock
    except Exception as e:
        print(f"Error loading Stock Data: {e}")
        return None

def preprocess_data(stock):
    if stock is None: return pd.DataFrame()
    # Standardize columns
    stock.columns = stock.columns.str.lower().str.strip()
    
    # Date conversion
    if "inventory date :" in stock.columns:
        stock["inventory date :"] = pd.to_datetime(stock["inventory date :"])
        stock["month"] = stock["inventory date :"].dt.to_period("M")
    
    return stock

def get_stock_summary(stock):
    if stock.empty: return pd.DataFrame()
    # We need unique closing stock per item per month.
    # Key columns for grouping - Group by Item Code and Month ONLY for uniqueness
    group_cols = ["item code :", "month"]
    
    # Aggregation rules: Sum quantity, take first available description/category
    agg_dict = {
        "physical quantity :": "sum",
        "item name :": "first",
        "category :": "first",
        "uom :": "first"
    }
    
    # Filter agg_dict to only include columns present in df
    agg_dict = {k: v for k, v in agg_dict.items() if k in stock.columns}
    
    # Aggregate
    monthly_stock = stock.groupby(group_cols).agg(agg_dict).reset_index()
    monthly_stock.rename(columns={"physical quantity :": "closing_stock"}, inplace=True)
    
    return monthly_stock

def load_warehouse_data():
    try:
        # Warehouse Issues Sheet
        sheet_id = "1Cy0A4nQvbaW8GYlqyuiLvob-qed5Lu-GugPNGjSaGF4"
        url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=xlsx"
        warehouse = pd.read_excel(url)
        return warehouse
    except Exception as e:
        print(f"Error loading Warehouse Data: {e}")
        return None

def preprocess_warehouse(warehouse):
    if warehouse is None: return pd.DataFrame()
    warehouse.columns = warehouse.columns.str.lower().str.strip()
    if "issue date :" in warehouse.columns:
        warehouse["issue date :"] = pd.to_datetime(warehouse["issue date :"])
        warehouse["month"] = warehouse["issue date :"].dt.to_period("M")
    return warehouse

def get_warehouse_summary(warehouse):
    if warehouse.empty: return pd.DataFrame()
    # Group by Item Code and Month to get total issued quantity
    group_cols = ["item code", "month"]
    
    # Aggregation: Sum issue quantity
    agg_dict = {
        "issue quantity :": "sum"
    }
    
    # Filter agg_dict
    agg_dict = {k: v for k, v in agg_dict.items() if k in warehouse.columns}
    
    warehouse_summary = warehouse.groupby(group_cols).agg(agg_dict).reset_index()
    warehouse_summary.rename(columns={"issue quantity :": "supplied_qty", "item code": "item code :"}, inplace=True)
    
    return warehouse_summary

In [ ]:
# --- EXECUTION ---

print("Loading Data... (This may take a moment)")
raw_stock = load_data()
df_stock = preprocess_data(raw_stock)
stock_summary = get_stock_summary(df_stock)

raw_warehouse = load_warehouse_data()
warehouse_df_raw = preprocess_warehouse(raw_warehouse)
warehouse_summary = get_warehouse_summary(warehouse_df_raw)

# Determine Month (Using Latest)
if not df_stock.empty and "month" in df_stock.columns:
    available_months = df_stock["month"].unique().astype(str)
    available_months = sorted(available_months, reverse=True)
    selected_month_str = available_months[0] # Selecting Last Month
    selected_month = pd.Period(selected_month_str, freq="M")
    print(f"Analyzed Month: {selected_month_str}")
else:
    print("No data found.")
    selected_month = None

In [ ]:
if selected_month:
    # Calculate Opening Stock (Previous Month Closing)
    previous_month = selected_month - 1
    prev_month_data = stock_summary[stock_summary["month"] == previous_month].copy()
    prev_month_data = prev_month_data.set_index("item code :")
    
    # Current Month Closing
    current_month_data = stock_summary[stock_summary["month"] == selected_month].copy()
    current_month_data = current_month_data.set_index("item code :")

    # Current Month Supply
    current_month_supply = warehouse_summary[warehouse_summary["month"] == selected_month].copy()
    current_month_supply = current_month_supply.set_index("item code :")

    # Master Data Construction (Opening + Closing + Supply)
    # Union of all relevant items
    all_items = prev_month_data.index.union(current_month_supply.index).union(current_month_data.index)
    
    master_df = pd.DataFrame(index=all_items)
    
    # Metadata Map
    # Map item names from stock data first (most reliable)
    master_item_map = df_stock[["item code :", "item name :", "category :", "uom :"]].drop_duplicates("item code :")
    master_item_map = master_item_map.set_index("item code :")
    
    master_df = master_df.join(master_item_map, how="left")
    master_df.rename(columns={"item name :": "Item Name", "category :": "Category", "uom :": "UOM"}, inplace=True)
    
    # Fill Data
    master_df["Opening Stock"] = prev_month_data["closing_stock"]
    master_df["Supplied Qty"] = current_month_supply["supplied_qty"]
    master_df["Closing Stock"] = current_month_data["closing_stock"]
    
    master_df.fillna(0, inplace=True)
    
    # Consumption Logic
    master_df["Total Available"] = master_df["Opening Stock"] + master_df["Supplied Qty"]
    master_df["Consumption"] = master_df["Total Available"] - master_df["Closing Stock"]

    master_df.index.name = "Item Code"
    master_df = master_df.reset_index()

    # --- SYRUP FILTER ---
    syrup_df = master_df[master_df["Category"].astype(str).str.contains("SYRUP", case=False, na=False)].copy()

    print("\n🍯 SYRUP INVENTORY & ACTUAL CONSUMPTION")
    cols = ["Item Name", "Opening Stock", "Supplied Qty", "Total Available", "Closing Stock", "Consumption", "UOM"]
    syrup_final = syrup_df[cols].sort_values("Consumption", ascending=False)
    display(syrup_final)